<ion-view title="Bills" id="bill-page">

  <!--
  <ion-header-bar class="bar bar-subheader">
    <button id="bills-button5" class="button button-positive button-small icon ion-compose text-float-right" ng-click="addBill()">
      Add
    </button>

    <ion-toggle toggle-class="toggle-positive" name="allBillToggle" ng-click="toggleAllBill()">Show All Bills</ion-toggle>


    <h2 class="dark">{{ allBills ? 'All Bills' : 'Pending Bills' }}</h2>
  </ion-header-bar>
  -->

  <ion-header-bar class="bar bar-subheader">
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" align="center" ng-model="searchData" placeholder="Search">
      </label>
      <button class="button button-small button-positive icon ion-compose" ng-click="addBill()"> Add</button>
    </div>
    <div>
      <ion-toggle toggle-class="toggle-positive" name="allBillToggle" ng-click="toggleAllBill()">Show All Bills</ion-toggle>
    </div>
  </ion-header-bar>

  <ion-content overflow-scroll="true" padding="true" class="has-header has-subheader">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="pullRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item ng-repeat="bill in bills" class="no-lr-border item-icon-right" ng-show="allBills || !bill.completed">
        <p>
          <span class="positive">{{bill.owner}}</span>
          <span ng-class="{balanced: (bill.amount > 0), assertive: (bill.amount < 0)}" class="text-float-right">
            $ {{bill.amount}}
          </span>
        </p>
        <p>{{bill.text}}</p>
        <i class="icon ion-ios-arrow-left"></i>
        <ion-option-button class="button-assertive" ng-click="bills.splice($index, 1)">
          Delete
        </ion-option-button>
        <ion-option-button class="button-energized" ng-click="editBill(bill, $index)">
          Edit
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
