<ion-view title="Bills" id="bill-page">

  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <button id="bills-button5" class="button button-positive button-block icon ion-compose" ng-click="addBill()">
      Add Bill
    </button>
    <form class="list">
      <ion-toggle toggle-class="toggle-positive" name="allBillToggle" ng-click="toggleAllBill()">Show All Bills</ion-toggle>
    </form>

    <h2 class="dark">{{ allBills ? 'All Bills' : 'Pending Bills' }}</h2>
    <ion-list>
      <ion-item ng-repeat="bill in bills" class="no-lr-border item-icon-right" ng-show="allBills || !bill.completed">
        <p>
          <span class="positive">{{bill.owner}}</span>
          <span ng-class="{balanced: (bill.amount > 0), assertive: (bill.amount < 0)}" class="text-float-right">
            $ {{bill.amount}}
          </span>
        </p>
        <p>{{bill.text}}</p>
        <i class="icon ion-ios-arrow-left"></i>
        <ion-option-button class="button-assertive" ng-click="bills.splice($index, 1)">
          Delete
        </ion-option-button>
        <ion-option-button class="button-energized" ng-click="editBill(bill, $index)">
          Edit
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

