.no-lr-border {
  border-left: none !important;
  border-right: none !important;
}

.completed {
  color: grey;
  text-decoration: line-through;
}

.padding-lr {
  padding-left: 20px;
  padding-right: 20px;
}

.text-float-right {
  float: right;
  padding-right: 25px;
}

.bar-subheader
{
  height: 116px !important;
  border: none;

}

.has-subheader {
  top: 170px !important;
}
